/* CSS Variables */
:root {
    --header-size: 30px;
    --text-size: 20px;
    --light-blue: #e6f9ff;
}

/* Content */
html * {
    font-family: 'Raleway', sans-serif !important;
}

#main {
    padding: 80px 20px;
}

p span {
    display: block;
    font-size: var(--text-size);
}

/* Nav */
#navbar {
    min-height: 120px;
    padding-left: 50px;
    padding-right: 50px;
    background-color:var(--light-blue);
}

#navbar .navbar-brand {
    font-size: var(--header-size);
    font-family: 'Raleway', sans-serif;
}

#navbar .navbar-nav .nav-link a{
    color: black;
    font-size: var(--text-size);
    padding-left: 15px;
    padding-right: 15px;
}