/* CSS Variables */
:root {
    --text-size: 20px;
}

/* Content */
html * {
    font-family: 'Raleway', sans-serif !important;
}

#main {
    padding: 80px 20px;
}

p span {
    display: block;
    font-size: var(--text-size);
}