#me {
    max-width: 100%;
}

#my-name {
    font-size: 64px;
}

#my-job {
    font-size: 36px;
}

#my-home {
    font-size: 24px;
}

.social-icon {
    font-size: 30px;
    margin: 20px 10px 20px 0px;
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #me {
        margin: 50px 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #me {
        margin: 50px 0px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #me {
        margin: 0;
    }
    #my-info {
        margin-top: 20vh;
    }
    #intro {
        min-height: 100vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}