.portfolio-banner {
    background-color: white !important;
    -webkit-box-shadow: 6px 7px 27px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 27px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 27px -2px rgba(0,0,0,0.75);
}

.banner-image {
    max-height: 200px;
}

.banner-subtitle {
    font-size: 24px;
    line-height: 24px;
    font-style: italic;
    margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .portfolio-banner {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .portfolio-banner {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .portfolio-banner {
        display: block;
    }
}